/_book
/bayesian-basics-1_cache/html
/bayesian-basics-1_files
/bayesian-basics-2_cache
/bayesian-basics-2_files
/bayesian-hierarchical-models-1_cache
/bayesian-hierarchical-models-1_files
*.html
/bayesian-hierarchical-models-2_cache
/bayesian-hierarchical-models-2_files
/bayesian-hierarchical-models-3_cache
/bayesian-hierarchical-models-3_files
/bayesian-regression-models-1_cache
/bayesian-regression-models-1_files
/bayesian-regression-models-2_cache
/bayesian-regression-models-2_files
/bayesian_gamms_cache
/bayesian_gamms_files
/causal_cache
/causal_files
/discrete-data_cache
/discrete-data_files
/FDA_edited_cache
/FDA_edited_files
/generalized-additive-mixed-models_cache
/generalized-additive-mixed-models_files
/generalized-additive-models_cache
/generalized-additive-models_files
/hw1_cache
/hw1_files
*.pptx
hw1_solution_notes.R
/hw3_cache
/hw3_files
/hw5_cache
/hw5_files
jeanne_data_for_demo.R
jeanne_data_scratch.R
/models
/multivariate-models_cache
/multivariate-models_files
fda_data/danish_mod2.rds
french_childes_m1.brm.rds
